
<%= link_to 'Back', orders_path %>

<p>
  <strong>Masa No:</strong>
  <%= @order.masa_no %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order.order %>
</p>

<p>
  <strong>Fiyat:</strong>
  <%= @order.price %>
</p>